assets/reference/LDDReport_v3.4.0.0_B324/LDDSchema-20140915.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.mismo.org/residential/2009/LDD" xmlns:n1="http://www.mismo.org/residential/2009/LDD" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mismo.org/residential/2009/LDD" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--xs:import schemaLocation="LDDSchema-201308151.xsd"/-->
	<xs:simpleType name="AT_39">
		<xs:restriction base="xs:string">
			<!--xs:enumeration value="B295"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_38">
		<xs:restriction base="xs:string">
			<!--xs:enumeration value="3.3.0"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_37">
		<xs:restriction base="xs:string">
			<!--xs:enumeration value="3.3.0.0"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_11">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Mismo Residential Vocabulary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_pattern">
		<xs:attribute name="Value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_minInclusive">
		<xs:attribute name="Value" type="xs:byte" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_maxLength">
		<xs:attribute name="Value" type="xs:short" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_maxInclusive">
		<xs:attribute name="Value" type="xs:short" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_fractionDigits">
		<xs:attribute name="Value" type="xs:byte" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_Xpaths">
		<xs:sequence>
			<xs:element ref="n1:Xpath" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Xpath">
		<xs:attribute name="Value" type="xs:string" use="required"/>
		<xs:attribute name="For" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_Uses">
		<xs:sequence>
			<xs:element ref="n1:Used" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="T_Used">
		<xs:sequence>
			<xs:element ref="n1:Xpaths" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Definition" type="xs:string"/>
		<xs:attribute name="In" type="xs:string"/>
		<xs:attribute name="By" type="n1:AT_11"/>
		<xs:attribute name="As" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_Type" mixed="true">
		<xs:choice minOccurs="0">
			<xs:element ref="n1:Enum" maxOccurs="unbounded"/>
			<xs:element ref="n1:fractionDigits"/>
			<xs:element ref="n1:maxLength"/>
			<xs:element ref="n1:pattern"/>
			<xs:sequence>
				<xs:element ref="n1:minInclusive"/>
				<xs:element ref="n1:maxInclusive" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Derivation" type="xs:string"/>
		<xs:attribute name="Base" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_Term">
		<xs:choice minOccurs="0">
			<xs:sequence>
				<xs:element ref="n1:Uses"/>
				<xs:element ref="n1:Type" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element ref="n1:Type"/>
				<xs:element ref="n1:Uses" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="URNSuffix" type="xs:string"/>
		<xs:attribute name="To" type="xs:string"/>
		<xs:attribute name="Role" type="xs:string"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="From" type="xs:string"/>
		<xs:attribute name="EnumeratedVersion" type="xs:string"/>
		<xs:attribute name="Definition" type="xs:string"/>
		<xs:attribute name="AppInfo" type="xs:string"/>
		<xs:attribute name="PPI" type="xs:string"/>
		<xs:attribute name="InSchema" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="T_License">
		<xs:attribute name="Value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_LDD">
		<xs:sequence>
			<xs:element ref="n1:Identification"/>
			<xs:element ref="n1:DataPoints"/>
			<xs:element ref="n1:Containers"/>
			<xs:element ref="n1:Attributes"/>
			<xs:element ref="n1:Enumerations"/>
			<xs:element ref="n1:ArcRoles"/>
			<xs:element ref="n1:DataTypes"/>
			<xs:element ref="n1:Acronyms"/>
			<xs:element ref="n1:DeprecatedDataPointsVersion"/>
			<xs:element ref="n1:DeprecatedContainersVersion"/>
			<xs:element ref="n1:DeprecatedDataPointsCum"/>
			<xs:element ref="n1:DeprecatedContainersCum"/>
		</xs:sequence>
	</xs:complexType>
	<!--xs:attributeGroup name="Version"-->
	<!--/xs:attributeGroup-->
	<xs:complexType name="T_Identification">
		<xs:sequence>
			<xs:element ref="n1:Copyright"/>
			<xs:element ref="n1:License"/>
			<xs:element ref="n1:Disclaimer"/>
		</xs:sequence>
		<xs:attribute name="Version" type="n1:AT_37" use="required"/>
		<xs:attribute name="Time" type="xs:time"/>
		<xs:attribute name="Iteration" type="xs:string"/>
		<xs:attribute name="ModelVersion" type="n1:AT_38" use="required"/>
		<xs:attribute name="Date" type="xs:date" use="required"/>
		<xs:attribute name="Build" type="n1:AT_39" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_Enumerations">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Enum">
		<xs:attribute name="Value" type="xs:string" use="required"/>
		<xs:attribute name="Version" type="xs:string"/>
		<xs:attribute name="InSchema" type="xs:boolean"/>
		<xs:attribute name="URNSuffix" type="xs:string"/>
		<xs:attribute name="Definition" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_Disclaimer">
		<xs:attribute name="Value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_DeprecatedDataPointsVersion">
		<xs:sequence>
			<xs:element ref="n1:Term" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_DeprecatedDataPointsCum">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_DeprecatedContainersVersion">
		<xs:sequence>
			<xs:element ref="n1:Term" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_DeprecatedContainersCum">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_DataTypes">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_DataPoints">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Copyright">
		<xs:attribute name="Value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_Containers">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Attributes">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_ArcRoles">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Acronyms">
		<xs:sequence>
			<xs:element ref="n1:Term" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="pattern" type="n1:T_pattern"/>
	<xs:element name="minInclusive" type="n1:T_minInclusive"/>
	<xs:element name="maxLength" type="n1:T_maxLength"/>
	<xs:element name="maxInclusive" type="n1:T_maxInclusive"/>
	<xs:element name="fractionDigits" type="n1:T_fractionDigits"/>
	<xs:element name="Xpaths" type="n1:T_Xpaths"/>
	<xs:element name="Xpath" type="n1:T_Xpath"/>
	<xs:element name="Uses" type="n1:T_Uses"/>
	<xs:element name="Used" type="n1:T_Used"/>
	<xs:element name="Type" type="n1:T_Type"/>
	<xs:element name="Term" type="n1:T_Term"/>
	<xs:element name="License" type="n1:T_License"/>
	<xs:element name="LDD" type="n1:T_LDD"/>
	<xs:element name="Identification" type="n1:T_Identification"/>
	<xs:element name="Enumerations" type="n1:T_Enumerations"/>
	<xs:element name="Enum" type="n1:T_Enum"/>
	<xs:element name="Disclaimer" type="n1:T_Disclaimer"/>
	<xs:element name="DeprecatedDataPointsVersion" type="n1:T_DeprecatedDataPointsVersion"/>
	<xs:element name="DeprecatedDataPointsCum" type="n1:T_DeprecatedDataPointsCum"/>
	<xs:element name="DeprecatedContainersVersion" type="n1:T_DeprecatedContainersVersion"/>
	<xs:element name="DeprecatedContainersCum" type="n1:T_DeprecatedContainersCum"/>
	<xs:element name="DataTypes" type="n1:T_DataTypes"/>
	<xs:element name="DataPoints" type="n1:T_DataPoints">
		<xs:unique name="UniqueData">
			<xs:selector xpath="n1:Term"/>
			<xs:field xpath="@URNSuffix"/>
		</xs:unique>
	</xs:element>
	<xs:element name="Copyright" type="n1:T_Copyright"/>
	<xs:element name="Containers" type="n1:T_Containers">
		<xs:unique name="UniqueContainer">
			<xs:selector xpath="n1:Term"/>
			<xs:field xpath="@URNSuffix"/>
		</xs:unique>
	</xs:element>
	<xs:element name="Attributes" type="n1:T_Attributes">
		<xs:unique name="UniqueAttribute">
			<xs:selector xpath="n1:Term"/>
			<xs:field xpath="@URNSuffix"/>
		</xs:unique>
	</xs:element>
	<xs:element name="ArcRoles" type="n1:T_ArcRoles"/>
	<xs:element name="Acronyms" type="n1:T_Acronyms"/>
	<!--xs:attribute name="Version" type="n1:AT_37"/>
	<xs:attribute name="URNSuffix" type="xs:string"/>
	<xs:attribute name="To" type="xs:string"/>
	<xs:attribute name="Time" type="xs:time"/>
	<xs:attribute name="Role" type="xs:string"/>
	<xs:attribute name="Name" type="xs:string"/>
	<xs:attribute name="ModelVersion" type="n1:AT_38"/>
	<xs:attribute name="In" type="xs:string"/>
	<xs:attribute name="From" type="xs:string"/>
	<xs:attribute name="For" type="xs:string"/>
	<xs:attribute name="EnumeratedVersion" type="xs:string"/>
	<xs:attribute name="Derivation" type="xs:string"/>
	<xs:attribute name="Definition" type="xs:string"/>
	<xs:attribute name="Date" type="xs:date"/>
	<xs:attribute name="By" type="n1:AT_11"/>
	<xs:attribute name="Build" type="n1:AT_39"/>
	<xs:attribute name="Base" type="xs:string"/>
	<xs:attribute name="As" type="xs:string"/>
	<xs:attribute name="AppInfo" type="xs:string"/>
	<xs:attribute name="PPI" type="xs:string"/>
	<xs:attribute name="Count" type="xs:int"/-->
</xs:schema>
